{% extends 'base.html.twig' %}

{% block body %}
<h2>Ajouter votre souhait!</h2>

    <div>{{ form(wishForm) }}</div>


{% endblock %}

{% block title %}
    {{ parent()}} | Create your Wish
{% endblock %}

