{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | List{% endblock %}

{% block body %}
    <h2>All wishes</h2>
    {% for wish in wishes %}
        <article>
            <ul>
                <li>
                    <a href={{ path('wish_details', {id: wish.id}) }}>{{ wish.title }}</a>
                </li>
            </ul>
        </article>
    {% endfor %}
{% endblock %}