{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | List{% endblock %}

{% block body %}
    <h2>All wishes</h2>
    <div class="row">
        {% for wish in wishes %}
            <article class="col-6">



                    <ul class="list-inline">

                        <li class="list-inline-item">
                            <a href={{ path('wish_details', {id: wish.id}) }}>{{ wish.title }}</a>
                            <p>{{ wish.category.name }}</p>
                        </li>

                    </ul>


            </article>
        {% endfor %}
    </div>
{% endblock %}