{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | List{% endblock %}

{% block body %}
    <h2>All wishes</h2>
    {% for wish in wishes %}
        <article>
            <div class="container">

                <ul>
                    <li>
                        <a href={{ path('wish_details', {id: wish.id}) }}>{{ wish.title }}</a>
                        <p>{{ wish.category.name }}</p>

                    </li>
                </ul>
            </div>
        </article>
    {% endfor %}
{% endblock %}